body{
    background-color: black;
}
h1 {
    color: yellow;
    font-size: 20px;
}

h2 {
    color: blue;
    font-size: 16px;
}

p {
    color: white;
}

em {
    color: lightgreen;
}

div {
    margin-bottom: 50px;
    padding: 24px;
}

li{
    color: white;
}

a {
    color: lightgreen;
}

figcaption {
    color: white;
}

.foto-perfil {
    width: 300px;
    height: auto;
}